<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Restaurant Apps Katalog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
    rel="stylesheet">
</head>

<body>
  <a href="#main-content" class="skip-link">Go to content</a>
  <header class="header">
    <div class="Resto_header">
      <h1 class="title">Gilang Resto</h1>
    </div>
    <a href="" id="menu" class="menu_drawer">☰</a>

  </header>

  <nav id="drawer" class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="/">HOME</a></li>
      <li class="nav__item"><a href="#">FAVORITE</a></li>
      <li class="nav__item">
        <a href="https://github.com/setiawangilang">ABOUT US</a>
      </li>
    </ul>
  </nav>

  <div class="jumbotron">
    <div class="jumbotron_teks">
      <h1 class="jumbotron_title">Gilang Resto</h1>
      <p class="jumbotron_teks2">
        Jelajahi berbagai pilihan restoran terbaik di kota Anda
      </p>
    </div>
  </div>

  <main tabindex="0">
    <section class="content" id="main-content">
      <div class="card_latest">
        <h1 class="text_label">Exploration Restaurant</h1>
        <div class="card"></div>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer">
      <p>Copyright 2023 ©️ Gilang Setiawan</p>
    </div>
  </footer>
</body>

</html>